/* CSS declarations go here */
/*.mas-item {
  width:24%;
  padding:0px;
  margin-bottom: 0px;
}
.mas {

  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;


  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;


  display:box;
  box-pack:center;
  box-align:center;
}*/

h3 {
  font-family:"Trebuchet MS";
}

.navLink {
  line-height:90px;
  font-size:25px;
}

.navbar-default {
  background-color:#086876;
}